/* Scott Farley, 2015 */
#map{
	height: 95%;
	z-index: 1;
	border-style: solid;
}

html, body{
	height:100%;
	width:100%;
	overflow-x:hidden;
}

#detailsPanel{
	height:95%;
	overflow:auto;
	max-height: 100%;
	background-color: white;
	border-radius: 25;
	padding-top: 1%;
}
#titleRow{
	width:100%;
	height: 6%;
	background-color: #33757a;
	z-index:10;
}
#diagram{
	margin-top: 5%;
}

#mainHolder{
	height:100%;
}

#searchHolder{
	margin-left: 2.5%;
	padding: 0%;
	margin-right: 0%;
	margin-bottom: 2.5%
}

.axis path, .axis line{
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.line{
	fill: none;
	stroke:  #33757a;
	stroke-width: 1.5px;
}

#taxonName{
	margin-top: 0%;
	padding-top: 0%;
}

button{
	margin: 1px;
}

.tt-query, /* UPDATE: newer versions use tt-input instead of tt-query */
.tt-hint {
    width: 396px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.tt-query { /* UPDATE: newer versions use tt-input instead of tt-query */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}



.tt-hint {
    color: red;
}

.tt-menu { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
    width: 422px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
	margin-bottom: 0;
}
.tt-hint {
	display: block;
	width: 100%;
	height: 38px;
	padding: 8px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #999;
	vertical-align: middle;
	border: 1px solid #cccccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.tt-dropdown-menu {
	min-width: 160px;
	margin-top: 2px;
	padding: 5px 0;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background-clip: padding-box;

}
.tt-suggestion {
	display: block;
	padding: 3px 20px;
}
.tt-suggestion.tt-is-under-cursor {
	color: #fff;
	background-color: #428bca;
}
.tt-suggestion.tt-is-under-cursor a {
	color: #fff;
}
.tt-suggestion p {
	margin: 0;
}

.draggable{
	cursor: ns-resize;
}

ul{
	padding-left: 0px !important;
}
#neotomaImage{
	position: absolute;
}
#title{
	color: #421313;
	font-size:25px;
	font-weight:700;
}

#search{
	margin-left: 0%
}

h5, h4{
	 display: inline;
}

#footer{
	position: absolute;
	z-index:11;
	height: 150px;
	bottom: 2%;
	left: 2%;
	margin: 0%;
	padding: 0%;
}

#legend{
	z-index: 12;
	height: 100%;
	bottom: 0%;
	margin: 0%;
	padding: 0%;
}
.startImg{
	width: 30%;
	height: 150px;
	margin-top: 5%;
}
label{
	width: 30%;
}
#timeLabel{
	margin-top: 0% !important;
	padding-top: 0% !important;
}
#timeLabels{
	margin-top: 0% !important;
	padding-top: 0% !important;
}
#quickStartLabels{
	margin-bottom: 0% !important;
	padding-bottom: 0% !important;
}
.legend-container{
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 25px;
	height: 200px;
	width: 200px;
}
.picture-control{
	height: 128px;
	width: 128px;
}

#pic{
	height: 128px;
	width: 128px;
}
#symbolSizeInput{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 100px;
    padding: 0px;
    position: absolute;
    right: 10px;
    float: right;
    z-index: 1000;
    
}


